
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.page {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="number"],
select,
textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #0A76D8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #1b62b3;
}

/* Patient and Doctor Fields */
#patientFields,
#doctorFields {
    display: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

textarea {
    resize: vertical;
    height: 20px;
}

/* edit user 2 divs */

.cont{
    display:flex;
}
.first, .second {
    flex: 1; 
    padding: 20px;
    margin: 30px; 
}

.second{
    margin-top: 95px;
}